<!DOCTYPE html>
<html>

   <head>
      <title>TimeStamp Microserver - Free Code Camp Project</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>
           Timestamp microservice
        </h1>
        <p>
          Returns unix epoch time and the natural date from a date string in the URL
        </p><h2>Example usage</h2>
    <a href="/12-21-2012">
      https://timestamp-microserver1.glitch.me/12-21-2012
    </a>
    <br>
    <a href="/December%2012,%202012">
      https://timestamp-microserver1.glitch.me//December%2012,%202012
    </a>
    <h2>Example output</h2>
    <code>
      {
        "unix"    : 1356028200000,
        "natural" : "December 21, 2012"
      }
      </code>
  </div>
</body>
</html>